.bsp
*.log
client.ks
client.ts
*.swp
**/.idea/
**/out/
**/.idea_modules/
**/target/
**/*.swp
**/builddata
.project
.rpmbuild
*.tar.gz
*.DS_Store
.bloop
.metals
.vscode
*.iml

**/node_modules
play/public/stylesheets
play/public/javascripts
play/logs
play/project/project
play/project/target

